/* authStyles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    width: 100%; /* Ensures full width for center alignment */
    color: rgb(162, 0, 255);
    font-size: 90px;
    margin-bottom: 0; /* Reduce bottom margin of h1 */
}

h2 {
    text-align: center;
    width: 100%; /* Ensures full width for center alignment */
    color: rgb(162, 0, 255);
    font-size: 40px;
}

#auth-container {
    background: #fff;
    padding: 20px 60px 15px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 10px 0; /* Adds some space between elements */
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(162, 0, 255);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(196, 93, 255);
}

#message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin-left: 10%;
}

#message.success {
    color: #4CAF50;  /* green */
    border: 1px solid #c7e6c1;
    background-color: #e4f4e0;
}

#message.error {
    color: #F44336;  /* red */
    border: 1px solid #ebccd1;
    background-color: #f2dede;
}